{
  "alwaysThinkingEnabled": true,
  "autoMemoryEnabled": false,
  "autoUpdatesChannel": "latest",
  "effortLevel": "max",
  "enabledPlugins": {
    "astral@astral-sh": true
  },
  "env": {
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "us.anthropic.claude-haiku-4-5-20251001-v1:0",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "us.anthropic.claude-opus-4-6-v1",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "us.anthropic.claude-sonnet-4-6",
    "AWS_PROFILE": "cline",
    "AWS_REGION": "us-east-1",
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "CLAUDE_CODE_USE_BEDROCK": "1",
    "ENABLE_LSP_TOOL": "1",
{{- if stat (joinPath .chezmoi.homeDir ".local" "share" "ca-certificates" "cacert.pem") }}
    "AWS_CA_BUNDLE": "{{ .chezmoi.homeDir }}/.local/share/ca-certificates/cacert.pem",
    "CURL_CA_BUNDLE": "{{ .chezmoi.homeDir }}/.local/share/ca-certificates/cacert.pem",
    "DEFAULT_CA_BUNDLE_PATH": "{{ .chezmoi.homeDir }}/.local",
    "REQUESTS_CA_BUNDLE": "{{ .chezmoi.homeDir }}/.local/share/ca-certificates/cacert.pem",
    "SSL_CERT_FILE": "{{ .chezmoi.homeDir }}/.local/share/ca-certificates/cacert.pem"
{{- else if and (eq .chezmoi.os "linux") (stat "/etc/ssl/certs/ca-certificates.crt") }}
    "AWS_CA_BUNDLE": "/etc/ssl/certs/ca-certificates.crt",
    "CURL_CA_BUNDLE": "/etc/ssl/certs/ca-certificates.crt",
    "DEFAULT_CA_BUNDLE_PATH": "/etc/ssl/certs",
    "REQUESTS_CA_BUNDLE": "/etc/ssl/certs/ca-certificates.crt",
    "SSL_CERT_FILE": "/etc/ssl/certs/ca-certificates.crt"
{{- end }}
  },
  "extensions": {
    "anthropic.claude-code": {
      "autoUpdate": true
    }
  },
  "extraKnownMarketplaces": {
    "anthropic-agent-skills": {
      "source": {
        "source": "github",
        "repo": "anthropics/skills"
      }
    },
    "astral-sh": {
      "source": {
        "source": "github",
        "repo": "astral-sh/claude-code-plugins"
      }
    },
    "claude-plugins-official": {
      "source": {
        "source": "github",
        "repo": "anthropics/claude-plugins-official"
      }
    },
    "life-sciences": {
      "source": {
        "source": "github",
        "repo": "anthropics/life-sciences"
      }
    }
  },
  "model": "opusplan",
  "permissions": {
    "allow": [
      "Bash(*)",
      "Edit(**)",
      "Grep",
      "ListMcpResourcesTool",
      "Python(*)",
      "Read(**)",
      "ReadMcpResourceTool",
      "Write(**)",
      "mcp__ide__*",
      "mcp__mcp-atlassian__*",
      "mcp__read-website-fast__*",
      "mcp__tooluniverse__*"
    ],
    "defaultMode": "plan",
    "deny": [
      "Bash(git add*)",
      "Bash(git commit*)",
      "Bash(git merge*)",
      "Bash(git push*)",
      "Bash(git rebase*)",
      "Bash(git reset*)",
      "Bash(rm -rf *)",
      "Edit(**/.env*)",
      "Edit(.env*)",
      "Read(**/.env*)",
      "Read(.env*)",
      "Write(**/.env*)",
      "Write(.env*)"
    ],
    "disableBypassPermissionsMode": "disable"
  }
}
