{{- $dpProInstalled := stat (joinPath (env "XDG_DATA_HOME" | default (joinPath .chezmoi.homeDir ".local/share")) "dracula-pro") -}}
{{ if eq (env "KOOPA_COLOR_MODE") "dark" -}}
{{-   if $dpProInstalled -}}
--theme="Dracula Pro"
{{-   else -}}
--theme="Dracula"
{{-   end -}}
{{- else -}}
{{-   if $dpProInstalled -}}
--theme="Dracula Pro (Alucard)"
{{-   else -}}
--theme="OneHalfLight"
{{-   end -}}
{{- end }}
