#!/usr/bin/env zsh

# """
# Z shell (Zsh) configuration.
# Refer to '~/.profile' file for POSIX shell configuration details.
# """

__dotfiles_zshrc() {
    case "${ZSH_VERSION:-}" in
        '1.'* | \
        '2.'* | \
        '3.'* | \
        '4.'* | \
        '5.0' | '5.0.'* | \
        '5.1' | '5.1.'* | \
        '5.2' | '5.2.'* | \
        '5.3' | '5.3.'* | \
        '5.4' | '5.4.'* | \
        '5.5' | '5.5.'* | \
        '5.6' | '5.6.'* | \
        '5.7' | '5.7.'*)
            return 0
            ;;
    esac
    [[ -o 'interactive' ]] || return 0
    if [[ -f "${HOME}/.profile" ]]
    then
        source "${HOME}/.profile"
    fi
    # zsh-autosuggestions
    # --------------------------------------------------------------------------
    # Set the suggestion text color.
    # Define using xterm-256 color code.
    #
    # 'fg=240' also works well with Dracula theme.
    #
    # See also:
    # - https://stackoverflow.com/questions/47310537
    # - https://upload.wikimedia.org/wikipedia/
    #       commons/1/15/Xterm_256color_chart.svg
    if [[ "${KOOPA_COLOR_MODE:-}" == 'dark' ]]
    then
        export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=#6272A4'
    else
        export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=#A0A1A7'
    fi
    # zsh-syntax-highlighting
    # --------------------------------------------------------------------------
    # Copied from:
    # https://github.com/dracula/zsh-syntax-highlighting/blob/master/
    #   zsh-syntax-highlighting.sh
    #
    # This needs to be defined in '~/.zshrc' prior to activation of
    # zsh-syntax-highlighting plugin.
    #
    # Ensure that this is only selectively enabled in dark mode, so we don't mess
    # up highlighting appearance when using light themes, such as Solarized.
    if [[ "${KOOPA_COLOR_MODE:-}" == 'dark' ]]
    then
        # When Dracula Pro is installed, the install script generates a palette
        # file with Pro colors. Source it if present; otherwise use free Dracula.
        local _zsh_dracula_pro="${XDG_CONFIG_HOME:-${HOME}/.config}/zsh/dracula-pro-colors.zsh"
        if [[ -f "${_zsh_dracula_pro}" ]]
        then
            source "${_zsh_dracula_pro}"
        else
            ZSH_HIGHLIGHT_HIGHLIGHTERS=('main' 'cursor')
            typeset -gA ZSH_HIGHLIGHT_STYLES
            ZSH_HIGHLIGHT_STYLES['alias']='fg=#50FA7B'
            ZSH_HIGHLIGHT_STYLES['arg0']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['assign']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['autodirectory']='fg=#FFB86C,italic'
            ZSH_HIGHLIGHT_STYLES['back-dollar-quoted-argument']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['back-double-quoted-argument']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['back-quoted-argument-delimiter']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['back-quoted-argument-unclosed']='fg=#FF5555'
            ZSH_HIGHLIGHT_STYLES['back-quoted-argument']='fg=#BD93F9'
            ZSH_HIGHLIGHT_STYLES['builtin']='fg=#8BE9FD'
            ZSH_HIGHLIGHT_STYLES['command-substitution-delimiter-quoted']='fg=#F1FA8C'
            ZSH_HIGHLIGHT_STYLES['command-substitution-delimiter-unquoted']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['command-substitution-delimiter']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['command-substitution-quoted']='fg=#F1FA8C'
            ZSH_HIGHLIGHT_STYLES['command']='fg=#50FA7B'
            ZSH_HIGHLIGHT_STYLES['commandseparator']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['comment']='fg=#6272A4'
            ZSH_HIGHLIGHT_STYLES['cursor']='standout'
            ZSH_HIGHLIGHT_STYLES['default']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['dollar-double-quoted-argument']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['dollar-quoted-argument-unclosed']='fg=#FF5555'
            ZSH_HIGHLIGHT_STYLES['dollar-quoted-argument']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['double-hyphen-option']='fg=#FFB86C'
            ZSH_HIGHLIGHT_STYLES['double-quoted-argument-unclosed']='fg=#FF5555'
            ZSH_HIGHLIGHT_STYLES['double-quoted-argument']='fg=#F1FA8C'
            ZSH_HIGHLIGHT_STYLES['function']='fg=#50FA7B'
            ZSH_HIGHLIGHT_STYLES['global-alias']='fg=#50FA7B'
            ZSH_HIGHLIGHT_STYLES['globbing']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['hashed-command']='fg=#8BE9FD'
            ZSH_HIGHLIGHT_STYLES['history-expansion']='fg=#BD93F9'
            ZSH_HIGHLIGHT_STYLES['named-fd']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['numeric-fd']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['path']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['path_pathseparator']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['path_prefix']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['path_prefix_pathseparator']='fg=#FF79C6'
            ZSH_HIGHLIGHT_STYLES['precommand']='fg=#50FA7B,italic'
            ZSH_HIGHLIGHT_STYLES['process-substitution-delimiter']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['rc-quote']='fg=#F1FA8C'
            ZSH_HIGHLIGHT_STYLES['redirection']='fg=#F8F8F2'
            ZSH_HIGHLIGHT_STYLES['reserved-word']='fg=#8BE9FD'
            ZSH_HIGHLIGHT_STYLES['single-hyphen-option']='fg=#FFB86C'
            ZSH_HIGHLIGHT_STYLES['single-quoted-argument-unclosed']='fg=#FF5555'
            ZSH_HIGHLIGHT_STYLES['single-quoted-argument']='fg=#F1FA8C'
            ZSH_HIGHLIGHT_STYLES['suffix-alias']='fg=#50FA7B'
            ZSH_HIGHLIGHT_STYLES['unknown-token']='fg=#FF5555'
            export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'
        fi
    else
        local _zsh_alucard_pro="${XDG_CONFIG_HOME:-${HOME}/.config}/zsh/dracula-pro-alucard-colors.zsh"
        if [[ -f "${_zsh_alucard_pro}" ]]
        then
            source "${_zsh_alucard_pro}"
        else
            # Atom One Light palette for zsh-syntax-highlighting.
            if [[ -n "${ZSH_HIGHLIGHT_STYLES+x}" ]]
            then
                ZSH_HIGHLIGHT_STYLES['alias']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['builtin']='fg=#0184BC'
                ZSH_HIGHLIGHT_STYLES['command']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['comment']='fg=#A0A1A7,italic'
                ZSH_HIGHLIGHT_STYLES['double-quoted-argument']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['double-quoted-argument-unclosed']='fg=#E45649'
                ZSH_HIGHLIGHT_STYLES['function']='fg=#4078F2'
                ZSH_HIGHLIGHT_STYLES['global-alias']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['globbing']='fg=#986801'
                ZSH_HIGHLIGHT_STYLES['path']='fg=#383A42,underline'
                ZSH_HIGHLIGHT_STYLES['precommand']='fg=#50A14F,italic'
                ZSH_HIGHLIGHT_STYLES['reserved-word']='fg=#A626A4'
                ZSH_HIGHLIGHT_STYLES['single-hyphen-option']='fg=#986801'
                ZSH_HIGHLIGHT_STYLES['double-hyphen-option']='fg=#986801'
                ZSH_HIGHLIGHT_STYLES['single-quoted-argument']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['single-quoted-argument-unclosed']='fg=#E45649'
                ZSH_HIGHLIGHT_STYLES['suffix-alias']='fg=#50A14F'
                ZSH_HIGHLIGHT_STYLES['unknown-token']='fg=#E45649'
            fi
            export FZF_DEFAULT_OPTS='--color=fg:#383a42,bg:#fafafa,hl:#a626a4 --color=fg+:#383a42,bg+:#e8e8e8,hl+:#a626a4 --color=info:#986801,prompt:#50a14f,pointer:#a626a4 --color=marker:#a626a4,spinner:#986801,header:#a0a1a7'
        fi
    fi
    return 0
}

__dotfiles_zshrc
