#!/usr/bin/env bash

# """
# Bash shell configuration.
# Refer to '~/.profile' file for POSIX shell configuration details.
#
# Source file:
# {{ .chezmoi.sourceDir }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.sourceFile }}
#
# Git repo:
# https://github.com/acidgenomics/dotfiles/
# """

__dotfiles_bash_profile() {
    case "${BASH_VERSION:-}" in
        '1.'* | '2.'* | '3.'*)
            return 0
            ;;
    esac
    [[ "$-" == *i* ]] || return 0
    [[ -f "${HOME}/.profile" ]] || return 0
    # shellcheck source=/dev/null
    source "${HOME}/.profile"
    return 0
}

__dotfiles_bash_profile
