{
  "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features",
    "editor.detectIndentation": false,
    "editor.tabSize": 2
  },
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.fixAll": "explicit",
      "source.organizeImports.ruff": "explicit"
    },
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.formatOnSave": true,
    "editor.formatOnType": false,
    "editor.inlineSuggest.enabled": true
  },
  "[r]": {
{{- if lookPath "air" }}
    "editor.defaultFormatter": "Posit.air-vscode",
{{- end }}
    "editor.formatOnSave": true
  },
  "[toml]": {
    "editor.tabSize": 2
  },
{{- if lookPath "air" }}
  "air.executablePath": "{{ lookPath "air" }}",
  "air.executableStrategy": "path",
{{- end }}
{{ template "dracula-pro-theme.tmpl" (list (joinPath .chezmoi.homeDir ".cursor" "extensions" "dracula-theme-pro.theme-dracula-pro-*")) }}
{{ template "vscode-universal-common.tmpl" . }}
{{ template "vscode-fork-common.tmpl" . }}
}
