;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

(setq doom-font (font-spec :family "JetBrainsMono NF" :size 16))
{{- $dpv := env "KOOPA_DRACULA_PRO_VARIANT" -}}
{{- $dpvNorm := $dpv -}}
{{- if or (not $dpv) (eq $dpv "pro") -}}{{- $dpvNorm = "pro" -}}{{- end -}}
{{- $dpThemeEl := printf "dracula-pro-%s-theme.el" $dpvNorm -}}
{{- if stat (joinPath .chezmoi.homeDir ".config/doom/themes" $dpThemeEl) }}
(add-to-list 'custom-theme-load-path "~/.config/doom/themes")
(setq doom-theme 'dracula-pro-{{ $dpvNorm }})
{{- else }}
(setq doom-theme 'doom-dracula)
{{- end }}
;; Light theme alternative:
;; > (setq doom-theme 'doom-one-light)

(setq display-line-numbers-type t)
(setq make-backup-files nil)
(setq org-directory "~/org/")

;; Corfu auto-completion.
(setq corfu-auto t)

;; ESS / R configuration.
(setq
 ess-ask-for-ess-directory nil
 ess-default-style 'DEFAULT
 ess-eval-visibly-p nil
 ess-fancy-comments nil
 ess-history-file nil
 ess-indent-level 4
 ess-indent-with-fancy-comments nil
 ess-language "R"
 ess-nuke-trailing-whitespace-p t
 ess-roxy-str "#'"
{{- if findExecutable "R" (list "/usr/local/bin" "/usr/bin" "/bin") }}
 inferior-R-program-name "{{ findExecutable "R" (list "/usr/local/bin" "/usr/bin" "/bin") }}"
{{- end }}
 inferior-R-args "--no-restore --no-save")

;; Start Doom maximized.
;; https://github.com/doomemacs/doomemacs/issues/397
(add-to-list 'initial-frame-alist '(fullscreen . maximized))
