{
    "auto_append_newline": true,
    "auto_discover_package_dependencies": false,
    "auto_expand_error_tracebacks": true,
    "auto_run_setup_chunk": false,
    "background_diagnostics": false,
    "blinking_cursor": false,
    "check_arguments_to_r_function_calls": true,
    "check_for_updates": false,
    "check_unexpected_assignment_in_function_call": true,
    "code_completion": "manual",
    "code_completion_other": "manual",
{{- if lookPath "air" }}
    "code_formatter": "external",
    "code_formatter_external_command": "{{ lookPath "air" }} format",
{{- end }}
    "color_preview": false,
    "continue_comments_on_newline": true,
    "custom_shell_command": "{{ lookPath "bash" }}",
    "default_encoding": "UTF-8",
    "diagnostics_on_save": false,
    "doc_outline_show": "sections_and_chunks",
{{- if eq (env "KOOPA_COLOR_MODE") "light" }}
    "editor_theme": "Xcode",
{{- else }}
    "editor_theme": "Dracula",
{{- end }}
    "enable_snippets": false,
    "focus_console_after_exec": true,
    "font_size_points": 13,
    "full_project_path_in_window_title": true,
    "help_font_size_points": 11,
    "hide_console_on_chunk_execute": false,
    "highlight_code_chunks": false,
    "highlight_r_function_calls": true,
    "highlight_selected_line": true,
    "highlight_web_link": false,
    "initial_working_directory": "~",
    "insert_matching": false,
    "insert_native_pipe_operator": true,
    "insert_numbered_latex_sections": true,
    "line_ending_conversion": "posix",
    "load_workspace": false,
    "num_spaces_for_tab": 4,
    "panes": {
        "quadrants": [
            "TabSet1",
            "Console",
            "TabSet2",
            "Source"
        ],
        "tabSet1": [
            "Environment",
            "History",
            "Connections",
            "Build",
            "VCS",
            "Presentation"
        ],
        "tabSet2": [
            "Files",
            "Plots",
            "Packages",
            "Help",
            "Viewer",
            "Presentations"
        ],
        "hiddenTabSet": [
            "Tutorial"
        ],
        "console_left_on_top": false,
        "console_right_on_top": true,
        "additional_source_columns": 0
    },
    "pdf_previewer": "none",
    "posix_terminal_shell": "bash",
    "python_path": "{{ lookPath "python3" }}",
    "python_project_environment_automatic_activate": true,
    "python_type": "system",
    "rainbow_parentheses": true,
    "real_time_spellchecking": false,
    "reduced_motion": true,
{{- if lookPath "air") }}
    "reformat_on_save": true,
{{- end }}
    "remove_history_duplicates": true,
    "restore_last_project": false,
    "restore_source_documents": false,
    "save_files_before_build": true,
    "save_workspace": "never",
    "server_editor_font": "JetBrains Mono",
    "server_editor_font_enabled": true,
    "show_diagnostics_cpp": false,
    "show_diagnostics_r": false,
    "show_doc_outline_rmd": true,
    "show_invisibles": true,
    "show_last_dot_value": true,
    "show_rmd_render_command": true,
    "soft_wrap_r_files": true,
    "source_with_echo": true,
    "strip_trailing_whitespace": true,
    "syntax_color_console": true,
    "terminal_bell_style": "none",
    "terminal_python_integration": false,
    "terminal_track_environment": false,
    "use_tinytex": true,
    "view_dir_after_r_cmd_check": true
}
