# """
# Kitty configuration
#
# @note Updated 2025-01-03.
#
# @seealso
# - https://sw.kovidgoyal.net/kitty/conf/
# - kitty +kitten themes
# - https://sw.kovidgoyal.net/kitty/kittens/themes/
# - Automatic dark/light mode switching
#   https://felix-kling.de/blog/2021/
#     linux-toggle-dark-mode.html#kittys-built-in-solution-easy
# """

bold_font auto
bold_italic_font auto
cursor_blink_interval 0
cursor_shape block
font_family JetBrainsMono NF
font_size 16.0
initial_window_height 30c
initial_window_width 90c
italic_font auto
macos_show_window_title_in none
remember_window_size no
shell {{ lookPath "bash" }}
shell_integration no-cursor
update_check_interval 0

include current-theme.conf
