{
  "[json]": {
    "editor.tabSize": 2
  },
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.fixAll": "never",
      "source.organizeImports.ruff": "explicit"
    },
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.formatOnSave": true,
    "editor.formatOnType": false
  },
  "[r]": {
    "editor.formatOnSave": true
  },
  "[toml]": {
    "editor.tabSize": 2
  },
{{- if stat (joinPath (env "KOOPA_PREFIX") "bin" "air") }}
  "air.executablePath": "{{ env "KOOPA_PREFIX" }}/bin/air",
  "air.executableStrategy": "path",
{{- end }}
  "breadcrumbs.enabled": true,
  "chat.commandCenter.enabled": false,
  "chat.editing.alwaysSaveWithGeneratedChanges": true,
  "debug.terminal.clearBeforeReusing": true,
  "diffEditor.ignoreTrimWhitespace": false,
  "editor.acceptSuggestionOnEnter": "off",
  "editor.accessibilitySupport": "off",
  "editor.autoClosingBrackets": "never",
  "editor.autoClosingQuotes": "never",
  "editor.detectIndentation": true,
  "editor.find.autoFindInSelection": "always",
  "editor.fontFamily": "'JetBrains Mono', monospace",
  "editor.fontLigatures": true,
  "editor.fontSize": 16,
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.guides.bracketPairs": "active",
  "editor.guides.indentation": false,
  "editor.inlineSuggest.enabled": true,
  "editor.minimap.enabled": false,
  "editor.occurrencesHighlight": "off",
  "editor.quickSuggestions": {
    "comments": "off",
    "strings": "off",
    "other": "off"
  },
  "editor.quickSuggestionsDelay": 1000,
  "editor.renderLineHighlight": "none",
  "editor.renderWhitespace": "boundary",
  "editor.rulers": [
    80
  ],
  "editor.scrollBeyondLastLine": false,
  "editor.selectionHighlight": false,
  "editor.stickyScroll.enabled": true,
  "editor.tabSize": 4,
  "editor.unicodeHighlight.nonBasicASCII": true,
  "editor.wordBasedSuggestions": "off",
  "editor.wordWrap": "off",
  "editor.wordWrapColumn": 80,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "extensions.autoUpdate": false,
  "extensions.ignoreRecommendations": true,
  "files.associations": {
    "*.rmd": "rmd",
    "CODEOWNERS": "ssh_config"
  },
  "files.eol": "\n",
  "files.hotExit": "onExitAndWindowClose",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "git.autofetch": false,
  "git.confirmSync": false,
  "git.openRepositoryInParentFolders": "never",
  "git.suggestSmartCommit": false,
  "github.copilot.editor.enableAutoCompletions": true,
  "github.copilot.enable": {
    "*": true,
    "markdown": false,
    "plaintext": false,
    "scminput": false
  },
  "githubPullRequests.defaultMergeMethod": "squash",
  "githubPullRequests.fileListLayout": "tree",
  "githubPullRequests.pullBranch": "never",
  "gitlens.blame.toggleMode": "window",
  "gitlens.codeLens.enabled": false,
  "gitlens.currentLine.enabled": false,
  "gitlens.defaultDateStyle": "absolute",
  "gitlens.heatmap.toggleMode": "window",
  "gitlens.hovers.enabled": false,
  "gitlens.integrations.enabled": false,
  "gitlens.liveshare.allowGuestAccess": false,
  "gitlens.plusFeatures.enabled": false,
  "gitlens.showWelcomeOnInstall": false,
  "gitlens.showWhatsNewAfterUpgrades": false,
  "gitlens.statusBar.pullRequests.enabled": false,
  "gitlens.telemetry.enabled": false,
  "gitlens.virtualRepositories.enabled": false,
{{- if stat (joinPath (env "KOOPA_PREFIX") "bin" "hadolint") }}
  "hadolint.cliOptions": [],
  "hadolint.hadolintPath": "{{ env "KOOPA_PREFIX" }}/bin/hadolint",
{{- end }}
  "html.format.wrapLineLength": 0,
  "http.proxyStrictSSL": true,
{{- if stat (joinPath (env "KOOPA_PREFIX") "opt" "isort") }}
  "isort.args": [
    "--profile",
    "black"
  ],
  "isort.check": true,
  "isort.interpreter": [
    "{{ env "KOOPA_PREFIX" }}/opt/isort/libexec/bin/python3"
  ],
  "isort.path": [
    "{{ env "KOOPA_PREFIX" }}/bin/isort"
  ],
  "isort.serverEnabled": false,
{{- end }}
  "javascript.suggest.enabled": false,
  "jupyter.kernels.trusted": [
    "{{ env "KOOPA_PREFIX" }}/opt/anaconda/share/jupyter/kernels/python3/kernel.json",
    "{{ env "KOOPA_PREFIX" }}/opt/jupyterlab/libexec/share/jupyter/kernels/python3/kernel.json"
  ],
  "liveshare.accessibility.soundsEnabled": false,
  "liveshare.accessibility.voiceEnabled": false,
  "markdownlint.run": "onSave",
  "notebook.codeActionsOnSave": {
    "notebook.source.fixAll": "never",
    "notebook.source.organizeImports.ruff": "explicit"
  },
  "notebook.formatOnSave.enabled": true,
  "notebook.output.textLineLimit": 100,
  "path-autocomplete.pathMappings": {
    ".": "${workspace}"
  },
  "prettier.tabWidth": 4,
  "python.REPL.enableREPLSmartSend": false,
  "python.REPL.sendToNativeREPL": false,
  "python.REPL.provideVariables": true,
  "python.analysis.autoImportCompletions": true,
  "python.analysis.typeCheckingMode": "standard",
{{- if stat (joinPath (env "KOOPA_PREFIX") "bin" "conda") }}
  "python.condaPath": "{{ env "KOOPA_PREFIX" }}/bin/conda",
{{- end }}
  "python.defaultInterpreterPath": "{{ lookPath "python3" }}",
  "python.diagnostics.sourceMapsEnabled": true,
  "python.experiments.enabled": false,
  "python.interpreter.infoVisibility": "always",
  "python.terminal.activateEnvironment": false,
  "r.alwaysUseActiveTerminal": true,
  "r.bracketedPaste": true,
  "r.helpPanel.enableHoverLinks": false,
  "r.liveShare.defaults.shareWorkspace": false,
  "r.lsp.diagnostics": false,
  "r.lsp.promptToInstall": false,
  "r.plot.defaults.fullWindowMode": true,
  "r.plot.useHttpgd": true,
  "r.removeLeadingComments": true,
  "r.rmarkdown.chunkBackgroundColor": "",
  "r.rpath.linux": "/usr/bin/R",
  "r.rpath.mac": "/Library/Frameworks/R.framework/Resources/bin/R",
{{- if stat (joinPath (env "KOOPA_PREFIX") "bin" "radian") }}
  "r.rterm.linux": "{{ env "KOOPA_PREFIX" }}/bin/radian",
  "r.rterm.mac": "{{ env "KOOPA_PREFIX" }}/bin/radian",
{{- end }}
  "r.rterm.option": [
    "--no-save",
    "--no-restore",
    "--quiet"
  ],
  "r.rtermSendDelay": 0,
  "r.session.data.rowLimit": 100,
  "r.session.levelOfObjectDetail": "Normal",
  "r.workspaceViewer.removeHiddenItems": true,
  "r.workspaceViewer.showObjectSize": true,
  "redhat.telemetry.enabled": false,
  "remote.SSH.connectTimeout": 60,
  "remote.SSH.enableRemoteCommand": true,
  "remote.SSH.localServerDownload": "off",
  "remote.SSH.maxReconnectionAttempts": 0,
  "remote.SSH.remotePlatform": {
    "*": "linux"
  },
  "remote.SSH.remoteServerListenOnSocket": true,
  "remote.SSH.useCurlAndWgetConfigurationFiles": true,
  "remote.autoForwardPortsSource": "hybrid",
  "remote.downloadExtensionsLocally": false,
  "remote.extensionKind": {
    "GitHub.copilot": [
      "ui"
    ],
    "GitHub.copilot-chat": [
      "ui"
    ]
  },
  "remote.tunnels.alwaysUpdateCLI": true,
{{- if stat (joinPath (env "KOOPA_PREFIX") "bin" "ruff") }}
  "ruff.path": [
    "{{ env "KOOPA_PREFIX" }}/bin/ruff"
  ],
{{- end }}
  "security.workspace.trust.enabled": false,
  "security.workspace.trust.untrustedFiles": "open",
  "shellcheck.disableVersionCheck": true,
  "shellcheck.exclude": [
    "2119",
    "2120",
    "3040",
    "3043"
  ],
  "shellcheck.run": "onSave",
  "telemetry.telemetryLevel": "off",
  "terminal.external.osxExec": "Alacritty.app",
  "terminal.integrated.cursorBlinking": false,
  "terminal.integrated.cursorStyle": "block",
  "terminal.integrated.defaultLocation": "editor",
  "terminal.integrated.defaultProfile.linux": "bash",
  "terminal.integrated.defaultProfile.osx": "bash",
  "terminal.integrated.enableMultiLinePasteWarning": "never",
  "terminal.integrated.env.osx": {
    "PYTHONPATH": "${workspaceFolder}",
    "R_HOME": "/Library/Frameworks/R.framework/Resources"
  },
  "terminal.integrated.fontSize": 16,
  "terminal.integrated.fontWeightBold": "normal",
  "terminal.integrated.inheritEnv": false,
  "terminal.integrated.localEchoEnabled": "off",
  "terminal.integrated.profiles.osx": {
    "bash": {
      "args": [
        "-il"
      ],
      "icon": "terminal-bash",
      "path": "{{ lookPath "bash" }}"
    },
    "zsh": {
      "args": [
        "-il"
      ],
      "env": {
        "ZDOTDIR": "${env:HOME}/.config/zsh"
      },
      "icon": "terminal-bash",
{{- if eq .chezmoi.os "darwin" }}
      "path": "/bin/zsh"
{{- else }}
      "path": "{{ lookPath "zsh" }}"
{{- end }}
    }
  },
  "typescript.suggest.enabled": false,
  "typescript.surveys.enabled": false,
  "update.mode": "none",
  "update.showReleaseNotes": false,
  "vim.easymotionDimBackground": false,
  "vim.mouseSelectionGoesIntoVisualMode": false,
  "vim.useSystemClipboard": true,
  "vsicons.dontShowNewVersionMessage": true,
  "window.autoDetectColorScheme": true,
  "window.commandCenter": true,
  "window.zoomLevel": 0,
  "workbench.colorCustomizations": {
    "activityBarBadge.background": "#0000",
    "activityBarBadge.foreground": "#0000"
  },
{{- if eq (env "KOOPA_COLOR_MODE") "light" }}
  "workbench.colorTheme": "Atom One Light",
{{- else }}
{{- if stat (joinPath .chezmoi.homeDir ".vscode" "extensions" "dracula-theme-pro.theme-dracula-pro-1.1.0") }}
  "workbench.colorTheme": "Dracula Pro",
{{- else }}
  "workbench.colorTheme": "Dracula Theme",
{{- end }}
{{- end }}
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "workbench.editor.closeOnFileDelete": true,
  "workbench.editor.empty.hint": "hidden",
  "workbench.editor.enablePreview": false,
  "workbench.editor.highlightModifiedTabs": true,
  "workbench.editor.languageDetection": false,
  "workbench.iconTheme": "vscode-icons",
  "workbench.panel.defaultLocation": "right",
{{- if stat (joinPath .chezmoi.homeDir ".vscode" "extensions" "dracula-theme-pro.theme-dracula-pro-1.1.0") }}
  "workbench.preferredDarkColorTheme": "Dracula Pro",
{{- else }}
  "workbench.preferredDarkColorTheme": "Dracula Theme",
{{- end }}
  "workbench.preferredLightColorTheme": "Atom One Light",
  "workbench.startupEditor": "newUntitledFile",
  "workbench.tree.renderIndentGuides": "always"
}
