" vim: set filetype=vim:

" Notes
" ==============================================================================
"
" Consider moving useful notes documented here to the main Vim cheatsheet.
"
" Vim package manager
" ------------------------------------------------------------------------------
"
" Create a folder named 'pack' inside your '.vim' configuration folder. Direct
" subfolders of 'pack' can be used to organize packages/plugins into
" collections.
"
" Put plugins that should be loaded at startup into:
"   .vim/pack/<collection>/start/<plugin>
"
" Put plugins that should be added on demand with ':packadd' into:
"   .vim/pack/<collection>/opt/<plugin>
"
" See also:
" - https://shapeshed.com/vim-packages/
" - https://hackingcpp.com/dev/vim_plugins.html
"
" Runtimepath
" ------------------------------------------------------------------------------
"
" Check runtimepath (rtp) configuration with ':set runtimepath?' or
" ':echo $VIMRUNTIME'.
"
" Neovim-specific commands
" ------------------------------------------------------------------------------
" - ':vs|:te': Vertically split a terminal (like ':vert term' in Vim).
"   https://github.com/neovim/neovim/issues/3192

" Pre-flight checks
" ==============================================================================

let g:is_nvim=has('nvim')
let g:is_vim8=v:version >= 800 ? 1 : 0

" Check that Vim version matches minimum requirement.
if g:is_vim8 && !g:is_nvim && v:version < 801
    :echom "ERROR: Vim 8.1+ is required for '~/.vimrc' config."
    finish
endif

" Check that Neovim version matches minimum requirement.
if g:is_nvim && !has('nvim-0.6')
    :echom "ERROR: nvim 0.6+ is required for '~/.vimrc' config."
    finish
endif

" Disable vi compatibility mode.
set nocompatible

" Having longer updatetime (default is 4000 ms = 4s) leads to noticeable delays
" and poor user experience.
set updatetime=300

" Global variables
" ==============================================================================

" Refer to ':help expand' for details.
" Here '<sfile>' refers to sourced script file name, i.e. '~/.vimrc'.
let g:user_home=expand('<sfile>:p:h')
let g:vim_home=join([g:user_home, '.vim'], '/')

let g:plugins_home=join([g:vim_home, 'pack', 'dist', 'start'], '/')
let g:themes_home=join([g:vim_home, 'pack', 'theme', 'start'], '/')
let g:vim_plug_home=join([g:vim_home, 'plugged'], '/')

let g:koopa_color_mode=$KOOPA_COLOR_MODE
let g:koopa_prefix=$KOOPA_PREFIX

" Highlighting
" ==============================================================================

" Enable syntax highlighting.
syntax on

" Key mappings (bindings)
" ==============================================================================

" Refer to ':help localleader' for details.
let mapleader=','
let maplocalleader="\\"

" Fix backspace key to work as expected.
" https://unix.stackexchange.com/a/307974
set backspace=indent,eol,start

" Normal mode
" ------------------------------------------------------------------------------

" 'w!' still failed? Try 'w!!' to write as root.
cmap w!! w !sudo tee >/dev/null %

" Edit my vimrc file.
nnoremap <leader>ev :vsplit $MYVIMRC<cr>

" Source my vimrc file.
nnoremap <leader>sv :source $MYVIMRC<cr>

" Add blank line without entering insert mode.
nnoremap <enter> o<esc>

" Enable code fold toggling with the spacebar.
nnoremap <space> za

" Delete line without copying to clipboard, using leader prefix mapping.
" https://stackoverflow.com/a/11993928/3911732
nnoremap <leader>d "_dd

" Split navigation keys:
"
" - Ctrl+J move to the split below
" - Ctrl+K move to the split above
" - Ctrl+L move to the split to the right
" - Ctrl+H move to the split to the left

nnoremap <c-j> <c-w><c-j>
nnoremap <c-k> <c-w><c-k>
nnoremap <c-l> <c-w><c-l>
nnoremap <c-h> <c-w><c-h>

" Surround current word in single quotes.
nnoremap <leader>' viw<esc>a'<esc>bi'<esc>lel

" Surround current word in double quotes.
nnoremap <leader>" viw<esc>a"<esc>bi"<esc>lel

" Insert mode
" ------------------------------------------------------------------------------

" Escape from insert mode without stretching to hit Esc key.
inoremap jk <esc>

" Delete line in insert mode using Ctrl+d.
inoremap <c-d> <esc>ddi

" Text formatting
" ==============================================================================

" Always enforce UTF-8.
set encoding=utf-8

" Wrapping and margins
" ------------------------------------------------------------------------------

" Enable soft wrapping.
set wrap

" Disable automatic line breaks.
" https://stackoverflow.com/questions/2280030
set textwidth=0
set wrapmargin=0

" Set the right margin color column.
" https://stackoverflow.com/questions/2182427
set colorcolumn=81

" Always show the signcolumn, otherwise it would shift the text each time
" diagnostics appear/become resolved.
set signcolumn=yes

" Spaces and tabs
" ------------------------------------------------------------------------------

" Smart tab mode.
set smarttab

" Expand (detab) tab to spaces.
set expandtab

" When indenting with '>', shift as 4 spaces.
set shiftwidth=4

" Tab columns will display as 4 spaces.
set softtabstop=4

" Display tab (\t) visually as 4 spaces.
set tabstop=4

" Whitespace
" ------------------------------------------------------------------------------

" Enable file-type-specific indentation.
if has('autocmd')
    filetype on
    filetype indent on
    filetype plugin on
endif

" Whitespace indicators.
if has('multi_byte')
    set list listchars=tab:»·,trail:·
else
    set list listchars=tab:>-,trail:.
endif

" Navigation
" ==============================================================================

" Mouse integration
" ------------------------------------------------------------------------------

" Enable mouse integration that attempts to play nicely with tmux.
set mouse=a
if !g:is_nvim
    " Don't set to 'xterm2' here, very buggy.
    " https://unix.stackexchange.com/questions/50733/
    " https://github.com/microsoft/terminal/issues/5454
    set ttymouse=sgr
endif

" Window management
" ------------------------------------------------------------------------------

set splitbelow
set splitright

" Interface elements
" ------------------------------------------------------------------------------

" Highlight current line.
set cursorline

" Show command in bottom bar.
set showcmd

" Always show status line.
set laststatus=2

" Always show ruler at bottom.
set ruler

" Command mode menus.
set wildmenu
set wildmode=list:longest,full

" Line numbers
" ------------------------------------------------------------------------------

" Enable line numbers.
set number

" Search (matching)
" ------------------------------------------------------------------------------

set hlsearch
set ignorecase
set incsearch
set showmatch
set smartcase

" Folding
" ------------------------------------------------------------------------------

" foldmethod alternatives: indent, syntax
set foldmethod=marker

" Disable collapsed folds by default.
set foldlevelstart=99
set nofoldenable

" File management
" ==============================================================================

" Disable creation of 'foo~' files.
set nobackup

" vim-galore tips
" ==============================================================================

" Disable audible and visual bells
" ------------------------------------------------------------------------------

set noerrorbells
set novisualbell
set t_vb=

" Don't lose selection when shifting sidewards
" ------------------------------------------------------------------------------

xnoremap <  <gv
xnoremap >  >gv

" Quickly move current line
" ------------------------------------------------------------------------------

nnoremap [e  :<c-u>execute 'move -1-'. v:count1<cr>
nnoremap ]e  :<c-u>execute 'move +'. v:count1<cr>

" Quickly add empty lines
" ------------------------------------------------------------------------------

nnoremap [<space>  :<c-u>put! =repeat(nr2char(10), v:count1)<cr>'[
nnoremap ]<space>  :<c-u>put =repeat(nr2char(10), v:count1)<cr>

" Saner behavior of n and N
" ------------------------------------------------------------------------------

nnoremap <expr> n  'Nn'[v:searchforward]
xnoremap <expr> n  'Nn'[v:searchforward]
onoremap <expr> n  'Nn'[v:searchforward]

nnoremap <expr> N  'nN'[v:searchforward]
xnoremap <expr> N  'nN'[v:searchforward]
onoremap <expr> N  'nN'[v:searchforward]

" Cursor style
" ------------------------------------------------------------------------------

if !has('gui_running') && has('macunix') && !g:is_nvim
    let &t_EI = "\e[2 q"
    let &t_SI = "\e[6 q"
    let &t_SR = "\e[4 q"
endif

" Smarter cursorline
" ------------------------------------------------------------------------------

autocmd InsertLeave,WinEnter * set cursorline
autocmd InsertEnter,WinLeave * set nocursorline

" Terminal
" ==============================================================================

{{- if lookPath "bash" }}
" Set default shell to Bash.
set shell={{ lookPath "bash" }}
{{- end }}

" Automatically enter insert mode for terminal shells in Neovim.
if g:is_nvim
    autocmd TermOpen * setlocal nonumber norelativenumber
    autocmd TermOpen * startinsert
    augroup terminal_setup | au!
        autocmd TermOpen * nnoremap <buffer><LeftRelease> <LeftRelease>i
    augroup end
endif

" Clipboard / pasteboard
" ==============================================================================

" Enable copy to clipboard (for macOS).
if has('macunix')
    set clipboard=unnamed
    if g:is_nvim
        set clipboard+=unnamedplus
    endif
endif

" Plugins (Vim 8 only — Neovim uses lazy.nvim via lua/init.lua)
" ==============================================================================

" Plugins declared here are managed by vim-plug.
" https://github.com/junegunn/vim-plug
"
" Useful commands:
" - ':PlugInstall' to install plugins.
" - ':PlugUpdate' to update plugins.

" This must be defined before markdown plugin is loaded.
let g:pandoc#filetypes#pandoc_markdown = 0

if !g:is_nvim

    call plug#begin(vim_plug_home)

    " tabular must be installed before vim-markdown.
    Plug 'godlygeek/tabular'

    Plug 'airblade/vim-gitgutter'
    Plug 'dense-analysis/ale'
    Plug 'editorconfig/editorconfig-vim'
    Plug 'junegunn/fzf.vim'
    Plug 'junegunn/rainbow_parentheses.vim'
    Plug 'nanotee/zoxide.vim'
    Plug 'preservim/nerdtree'
    Plug 'preservim/vim-markdown'
    Plug 'quarto-dev/quarto-vim'
    Plug 'rust-lang/rust.vim'
    Plug 'tpope/vim-commentary'
    Plug 'tpope/vim-fugitive'
    Plug 'tpope/vim-sensible'
    Plug 'tpope/vim-surround'
    Plug 'vim-airline/vim-airline'
    Plug 'vim-pandoc/vim-markdownfootnotes'
    Plug 'vim-pandoc/vim-pandoc'
    Plug 'vim-pandoc/vim-pandoc-syntax'
    Plug 'vim-pandoc/vim-rmarkdown'

    " Color scheme plugins.
    if g:koopa_color_mode == 'light'
        Plug 'rakr/vim-one'
        Plug 'vim-airline/vim-airline-themes'
    else
        if !isdirectory(join([themes_home, 'dracula_pro'], '/'))
            Plug 'dracula/vim', { 'as': 'dracula' }
        endif
    endif

    call plug#end()

    " Automatically install missing plugins on startup.
    " https://github.com/junegunn/vim-plug/wiki/
    "     extra#automatically-install-missing-plugins-on-startup
    autocmd VimEnter *
        \  if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
        \|   PlugInstall --sync | q
        \| endif

endif

" ALE
" ------------------------------------------------------------------------------

if !g:is_nvim

    " Configuration details:
    " - https://github.com/dense-analysis/ale
    " - https://github.com/dense-analysis/ale/blob/master/doc/ale-python.txt

    " Useful commands:
    " > :ALEInfo
    " > :ALEFix
    " > :ALEFixSuggest

    let g:ale_fix_on_save = 1
    let g:ale_fixers = {
        \ '*': ['remove_trailing_lines', 'trim_whitespace'],
        \ 'python': ['ruff'],
        \ }
    let g:ale_lint_on_text_changed = 'never'
    let g:ale_linters = {
        \ 'python': ['ruff'],
        \ 'r': ['languageserver'],
        \ }
    let g:ale_python_ruff_format_options='--line-length=80'

endif

" NERDTree
" ------------------------------------------------------------------------------

if !g:is_nvim

    " Map a specific key or shortcut to open NERDTree.
    map <C-n> :NERDTreeToggle<CR>

    " Open NERDTree automatically when vim starts up on opening a directory.
    autocmd StdinReadPre * let s:std_in=1
    autocmd VimEnter *
        \ if argc() == 1 && isdirectory(argv()[0]) && !exists('s:std_in')
        \ | exe 'NERDTree' argv()[0]
        \ | wincmd p
        \ | ene |
        \ exe 'cd '.argv()[0]
        \ | endif

    " Close vim if the only window left open is a NERDTree.
    autocmd bufenter *
        \ if (winnr('$') == 1 && exists('b:NERDTree') && b:NERDTree.isTabTree())
        \ | q | endif

    let g:NERDTreeDirArrowCollapsible='▾'
    let g:NERDTreeDirArrowExpandable='▸'
    let g:NERDTreeMapCloseChildren='-'
    let g:NERDTreeMapOpenRecursively='+'
    let g:NERDTreeMinimalUI=1
    let g:NERDTreeWinSize=24

endif

" airline
" ------------------------------------------------------------------------------

if !g:is_nvim

    " Consider adding tmuxline integration.
    " https://github.com/edkolev/tmuxline.vim

endif

" editorconfig-vim
" ------------------------------------------------------------------------------

if !g:is_nvim

    " Can debug settings with:
    " > let g:EditorConfig_verbose=1
    " > :verbose set expandtab? shiftwidth? softtabstop? tabstop?

    let g:EditorConfig_core_mode='vim_core'
    let g:EditorConfig_exclude_patterns=['fugitive://.*']

    autocmd FileType json setlocal
        \ shiftwidth=2
        \ softtabstop=2

endif

" fzf
" ------------------------------------------------------------------------------

if !g:is_nvim

    " Check that configuration is enabled with ':Files' command.
    "
    " See also:
    " - https://github.com/junegunn/fzf/blob/master/README-VIM.md
    " - https://github.com/junegunn/fzf.vim#commands

    let g:fzf_dir = join([g:koopa_prefix, 'opt', 'fzf'], '/')
    if isdirectory(g:fzf_dir)
        let &rtp.=','.g:fzf_dir
        cnoreabbrev fzf FZF
        command Fzf FZF
    endif

endif

" rainbow_parentheses
" ------------------------------------------------------------------------------

if !g:is_nvim

    augroup rainbow_lisp
        autocmd!
        autocmd FileType clojure,lisp,r,scheme RainbowParentheses
    augroup END

endif

" vim-markdown
" ------------------------------------------------------------------------------

if !g:is_nvim

    let g:vim_markdown_folding_level=2

    " Add support for ronn files.
    autocmd BufNewFile,BufFilePre,BufRead *.ronn set filetype=markdown

    " Disable annoying list indentation handling.
    " https://github.com/preservim/vim-markdown/issues/126#issuecomment-1430463951
    autocmd BufNewFile,BufRead *.md filetype plugin indent off

endif

" vim-pandoc-syntax
" ------------------------------------------------------------------------------

if !g:is_nvim

    let g:pandoc#syntax#conceal#blacklist = ['strikeout', 'list', 'quotes']

endif

" File type overrides
" ==============================================================================

autocmd BufRead,BufNewFile .env set filetype=dotenv
autocmd BufRead,BufNewFile .tmpl set filetype=txt

" Colors (theme)
" ==============================================================================

if has('termguicolors')
    set termguicolors
endif

if (has('gui_running') && has('macunix')) || g:koopa_color_mode == 'light'
    set background=light
else
    set background=dark
endif

" Colorscheme is set here for Vim 8; Neovim sets it via lazy.nvim (ui.lua).
if !g:is_nvim
    if g:koopa_color_mode == 'light' || has('gui_running')
        if isdirectory(join([themes_home, 'dracula_pro'], '/'))
            packadd! dracula_pro
            colorscheme dracula_pro_alucard
        elseif isdirectory(join([vim_plug_home, 'vim-one'], '/'))
            colorscheme one
            let g:airline_theme='one'
        endif
    else
        if isdirectory(join([themes_home, 'dracula_pro'], '/'))
            packadd! dracula_pro
            let s:dracula_variant = $KOOPA_DRACULA_PRO_VARIANT
            if s:dracula_variant == '' || s:dracula_variant == 'pro'
                colorscheme dracula_pro
            else
                execute 'colorscheme dracula_pro_' .. substitute(s:dracula_variant, '-', '_', 'g')
            endif
        elseif isdirectory(join([vim_plug_home, 'dracula'], '/'))
            colorscheme dracula
        endif
    endif
endif

" Live dark/light switching on macOS (Vim 8 only; Neovim uses auto-dark-mode.nvim).
if !g:is_nvim && has('macunix')
    let s:koopa_color_mode_cache = expand('~/.cache/koopa/color-mode')

    function! s:KoopaApplyColorMode(mode) abort
        let g:koopa_color_mode = a:mode
        if a:mode ==# 'light' || has('gui_running')
            set background=light
            if isdirectory(join([g:themes_home, 'dracula_pro'], '/'))
                colorscheme dracula_pro_alucard
            elseif isdirectory(join([g:vim_plug_home, 'vim-one'], '/'))
                colorscheme one
            endif
        else
            set background=dark
            if isdirectory(join([g:themes_home, 'dracula_pro'], '/'))
                let s:v = $KOOPA_DRACULA_PRO_VARIANT
                if s:v ==# '' || s:v ==# 'pro'
                    colorscheme dracula_pro
                else
                    execute 'colorscheme dracula_pro_' .. substitute(s:v, '-', '_', 'g')
                endif
            elseif isdirectory(join([g:vim_plug_home, 'dracula'], '/'))
                colorscheme dracula
            endif
        endif
    endfunction

    function! s:KoopaCheckColorMode() abort
        if !filereadable(s:koopa_color_mode_cache)
            return
        endif
        let l:new_mode = trim(readfile(s:koopa_color_mode_cache)[0])
        if l:new_mode !=# g:koopa_color_mode
            call s:KoopaApplyColorMode(l:new_mode)
        endif
    endfunction

    augroup KoopaColorModeSync
        autocmd!
        autocmd FocusGained * call s:KoopaCheckColorMode()
        autocmd CursorHold  * call s:KoopaCheckColorMode()
    augroup END
endif
