{
  "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features",
    "editor.detectIndentation": false,
    "editor.tabSize": 2
  },
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.fixAll": "explicit",
      "source.organizeImports.ruff": "explicit"
    },
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.formatOnSave": true,
    "editor.formatOnType": false,
    "editor.inlineSuggest.enabled": true
  },
  "[r]": {
{{- if lookPath "air" }}
    "editor.defaultFormatter": "Posit.air-vscode",
{{- end }}
    "editor.formatOnSave": true
  },
  "[toml]": {
    "editor.formatOnSave": false,
    "editor.tabSize": 2
  },
{{- if lookPath "air" }}
  "air.executablePath": "{{ lookPath "air" }}",
  "air.executableStrategy": "path",
{{- end }}
  "chat.agent.maxRequests": 200,
  "chat.editing.autoAcceptDelay": 10,
  "chat.editor.fontFamily": "'JetBrainsMonoNL NFM', 'JetBrains Mono', monospace",
  "chat.editor.fontSize": 16,
  "chat.fontFamily": "'JetBrainsMonoNL NFM', 'JetBrains Mono', monospace",
  "chat.fontSize": 16,
  "chat.tools.global.autoApprove": false,
  "chat.tools.terminal.autoApprove": {
    "/.*/": { "approve": true, "matchCommandLine": true }
  },
  "chat.tools.terminal.enableAutoApprove": true,
  "chat.tools.urls.autoApprove": {
    "https://*/*": {
      "approveRequest": true,
      "approveResponse": true
    }
  },
  "claudeCode.disableLoginPrompt": true,
  "claudeCode.initialPermissionMode": "plan",
  "claudeCode.preferredLocation": "panel",
  "github.copilot.enable": {
    "*": false
  },
  "github.copilot.nextEditSuggestions.enabled": false,
  "githubPullRequests.defaultMergeMethod": "squash",
  "githubPullRequests.fileListLayout": "tree",
  "githubPullRequests.pullBranch": "never",
  "remote.extensionKind": {
    "GitHub.copilot": [
      "ui"
    ],
    "GitHub.copilot-chat": [
      "ui"
    ]
  },
{{- if hasSuffix "code-server-posit/User/settings.json.tmpl" .chezmoi.sourceFile }}
  "terminal.integrated.sendKeybindingsToShell": true,
{{- end }}
{{ template "dracula-pro-theme.tmpl" (list (joinPath .chezmoi.homeDir ".vscode" "extensions" "dracula-theme-pro.theme-dracula-pro-*")) }}
{{ template "vscode-universal-common.tmpl" . }}
{{ template "vscode-fork-common.tmpl" . }}
}
