# """
# Global git configuration.
# Updated 2025-07-31.
#
# Source file:
# {{ .chezmoi.sourceDir }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.sourceFile }}
# """

[advice]
    addIgnoredFile = false
    detachedHead = false

[color]
    ui = true
[color "branch"]
    current = green bold
    local = green
    remote = yellow
[color "diff"]
    frag = magenta
    meta = yellow
    new = green
    newMoved = cyan
    old = red
    oldMoved = blue
[color "status"]
    added = green
    changed = yellow
    deleted = red
    untracked = yellow

[commit]
    verbose = true

[core]
    abbrev = 12
    attributesFile = ~/.config/git/attributes
    autocrlf = input
    editor = $EDITOR
    excludesfile = ~/.config/git/ignore
    pager = delta
    precomposeunicode = false
    sshCommand = "/usr/bin/ssh -F ~/.ssh/config"

[credential]
    # Now recommended to use 'gh auth login' and 'gh auth logout' for GitHub
    # instead of setting helper here.
    # Can enable in-memory caching for convenience with:
    # > helper = cache --timeout=10000000
    usehttppath = true
{{- if lookPath "gh" }}
[credential "https://github.com"]
    helper =
    helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !{{ lookPath "gh" }} auth git-credential
{{- end }}

[delta]
    line-numbers = true
    navigate = true
    side-by-side = false

[diff]
    colorMoved = default
    tool = difftastic
[diff "bin"]
    textconv = hexdump --canonical --no-squeezing
[diff "nb2md"]
    textconv = nb2md

[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[fetch]
    fsckobjects = false
    zeroPaddedFilemode = ignore
[fetch "fsck"]
    zeroPaddedFilemode = warn

[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f

[fsck]
    zeroPaddedFilemode = warn

[gpg]
{{- if and (eq .chezmoi.os "darwin") (stat "/usr/local/MacGPG2/bin/gpg") }}
    program = /usr/local/MacGPG2/bin/gpg
{{- end }}

[http]
{{- if env "HTTP_PROXY" }}
    proxy = {{ env "HTTP_PROXY" }}
{{- end }}

[https]
{{- if env "HTTPS_PROXY" }}
    proxy = {{ env "HTTPS_PROXY" }}
{{- end }}

[init]
    defaultBranch = main
    templateDir = ~/.config/git/template

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[pager]
    difftool = true

[pretty]
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    custom2 = "%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) \
%C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)"

[pull]
    rebase = false

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[rebase]
    autostash = true

[receive]
    fsckobjects = false
[receive "fsck"]
    zeroPaddedFilemode = warn

[safe]
    directory = {{ env "KOOPA_PREFIX" }}

[status]
    showUntrackedFiles = no

[submodule]
    recurse = true

[transfer]
    fsckobjects = false
[transfer "fsck"]
    zeroPaddedFilemode = warn

[user]
    useConfigOnly = true

[include]
    path = ~/.config/delta/theme.gitconfig
    path = ~/.config/git/alias
    path = ~/.config/git/config-private

[includeIf "hasconfig:remote.*.url:ssh://git-personal:*/**"]
    path = ~/.config/git/config-personal
[includeIf "hasconfig:remote.*.url:ssh://git-work:*/**"]
    path = ~/.config/git/config-work
[includeIf "gitdir:~/git/personal/"]
    path = ~/.config/git/config-personal
[includeIf "gitdir:~/git/work/"]
    path = ~/.config/git/config-work
[includeIf "gitdir:~/personal/"]
    path = ~/.config/git/config-personal
[includeIf "gitdir:~/work/"]
    path = ~/.config/git/config-work
