# """
# Tmux configuration.
# Updated 2024-08-23.
#
# Restart the server when changing settings:
# > tmux kill-server
#
# Shorthand aliases:
# * set = set-option
# * setw = set-window-option
#
# Check tmux environment:
# > tmux show-environment -g
#
# See also:
# - http://man.openbsd.org/OpenBSD-current/man1/tmux.1
# - https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/
# - https://github.com/claytron/dotfiles/blob/master/.tmux.conf
# - https://github.com/lotabout/dotfiles/blob/master/.tmux.conf
# - https://github.com/dariomanesku/.tmux/blob/master/.tmux.conf
# - https://github.com/majutsushi/etc/blob/master/tmux/tmux.conf
# """

# Reload config file.
bind r source-file ~/.config/tmux/tmux.conf

# Default shell
# ==============================================================================

{{- if eq .chezmoi.os "darwin" }}
set -g default-command /bin/zsh
{{- else if lookPath "zsh" }}
set -g default-command {{ lookPath "zsh" }}
{{- end }}

# Server options
# ==============================================================================

# Potentially useful:
# > set-option -sg buffer-limit 100
# > set-option -sg focus-events off

# Set the delay so that it doesn't interfere with programs like vim.
set-option -sg escape-time 0

# Session options
# ==============================================================================

# Force tmux to always use UTF-8.
set-window-option -gq utf8 on

# Set clock style. Use AM/PM instead of 24 hours.
set-option -g clock-mode-style 12

# Set the history scrollback limit.
set-option -g history-limit 200000

# Set the status bar refresh interval.
# > set-option -g status-interval 5

# Colors
# ==============================================================================

# It's complicated getting 24-bit true color support to work in tmux.
#
# Check with:
# > tmux kill-server
# > tmux info | grep Tc
#
# See also:
# - https://github.com/tmux/tmux/wiki/FAQ
# - https://jdhao.github.io/2018/10/19/tmux_nvim_true_color/
# - https://tomlankhorst.nl/iterm-tmux-vim-true-color/
# - https://www.reddit.com/r/vim/comments/5416d0/
# - https://github.com/dracula/vim/issues/96
# - https://github.com/tmux/tmux/issues/1246

# Set the default terminal inside tmux, which natively supports 256 colors.
set-option -g default-terminal "screen-256color"

# Enable 24-bit true color support.
# Note that this value should match the client terminal outside of tmux.
set-option -ga terminal-overrides ",xterm-256color:Tc"

# Key bindings
# ==============================================================================

# Use vi key bindings.
set-window-option -g mode-keys vi

# Remap prefix from 'C-b' to 'C-a'.
# Matches the conventions used in screen.
# This might interfere with bash's go to beginning of line command.
set-option -g prefix C-a
unbind C-b
# Allow for `C-a C-a` to send it to the application.
bind-key C-a send-prefix

# Intuitively split panes using '|' and '-' instead of '"' and '%'.
bind | split-window -h
bind - split-window -v
unbind '"'
unbind '%'

# Change bind keys.
bind-key -T copy-mode-vi C-v send -X rectangle-toggle
bind-key -T copy-mode-vi V send -X select-line
bind-key -T copy-mode-vi v send -X begin-selection
bind-key -T copy-mode-vi y send -X copy-pipe-and-cancel 'xclip -selection clipboard -in'

# Windows and status bar
# ==============================================================================

# Note that windows can be selectively colored using `window-style` and
# `window-active-style`. This can be useful, but I find it too distracting
# to use regularly.

# Make window and pane indexes start with 1. Zero-indexing is confusing.
set-option -g base-index 1
set-window-option -g pane-base-index 1

# Don't hold the size of the smallest client bounds.
set-window-option -g aggressive-resize on

# Notify if other windows have activity.
set-option -g visual-activity on
set-window-option -g monitor-activity on

# Status bar.
set-option -g status-left-length 200
set-option -g status-right-length 200

# Color palette
# ------------------------------------------------------------------------------

# Use Solarized Light palette when light mode is detected, otherwise assume
# dark mode and fall back to using Dracula palette by default.

%hidden colors_dir="~/.config/tmux/colors"
if-shell -b '[ "${KOOPA_COLOR_MODE:-}" = 'light' ]' \
    "source-file \"${colors_dir}/light.conf\"" \
    "source-file \"${colors_dir}/dark.conf\""

# Mouse mode
# ==============================================================================

# PuTTY and PowerShell on Windows:
# Hold SHIFT, left-click select text, and right-click to paste.

# Enable mouse mode.
set-option -g mouse on

# Copy mode
# ==============================================================================

# This config doesn't work well on Windows with PuTTY or PowerShell.
# Keeping the advanced copy mode macOS-specific for the time being.
#
# vim-like copy mode bindings are from:
# https://twitter.com/nickmorrott/status/928343075646210050?s=09

if-shell "uname -s | awk '{exit !($1 == \"Darwin\")}'" \
    'bind-key -T    copy-mode-vi Enter \
                    send-keys -X copy-pipe "pbcopy" \; \
                    display-message "Text copied to clipboard"; \
     bind-key -T    copy-mode-vi y       \
                    send-keys -X copy-pipe "pbcopy" \; \
                    display-message "Text copied to clipboard"; \
     bind -T        copy-mode-vi v       \
                    send-keys -X begin-selection; \
     bind -T        copy-mode-vi V       \
                    send-keys -X select-line; \
     bind -T        copy-mode-vi C-v     \
                    send-keys -X rectangle-toggle \; \
                    send-keys -X begin-selection; \
     bind -T        copy-mode-vi Escape \
                    send-keys -X cancel'

# fzf session jumper
# ==============================================================================

# https://waylonwalker.com/tmux-fzf-session-jump/

bind J new-window -n "session-switcher" "\
    tmux list-sessions -F '#{?session_attached,,#{session_name}}' |\
    sed '/^$/d' |\
    fzf --reverse --header jump-to-session --preview 'tmux capture-pane -pt {}'  |\
    xargs tmux switch-client -t"

bind j display-popup -E "\
    tmux list-sessions -F '#{?session_attached,,#{session_name}}' |\
    sed '/^$/d' |\
    fzf --reverse --header jump-to-session --preview 'tmux capture-pane -pt {}'  |\
    xargs tmux switch-client -t"
