-- WezTerm configuration
--
-- @note Updated 2025-01-04.
--
-- JetBrains Mono is the current default font.
--
-- @seealso
-- * https://wezfurlong.org/wezterm/config/files.html
-- * https://wezfurlong.org/wezterm/config/appearance.html
-- * https://wezfurlong.org/wezterm/config/fonts.html
-- * https://wezfurlong.org/wezterm/config/lua/
--     wezterm.gui/get_appearance.html
-- * https://wezfurlong.org/wezterm/colorschemes/index.html
-- * https://draculatheme.com/wezterm
-- * How to disable hyperlinks:
--   https://www.reddit.com/r/wezterm/comments/10jda7o/

local wezterm = require "wezterm"
local config = {}

function get_appearance()
  if wezterm.gui then
    return wezterm.gui.get_appearance()
  end
  return "Dark"
end

function scheme_for_appearance(appearance)
  if appearance:find "Dark" then
    return "Dracula (Official)"
  else
    -- Alternative: "Builtin Solarized Light"
    return "AtomOneLight"
  end
end

config.default_prog = { "{{ lookPath "bash" }}", "-il" }
config.font = wezterm.font "JetBrains Mono"
config.font_size = 16
config.hide_tab_bar_if_only_one_tab = true
config.tab_bar_at_bottom = false
config.use_fancy_tab_bar = false
config.window_decorations = "RESIZE"

config.color_scheme = scheme_for_appearance(get_appearance())

return config
