{
    "black-formatter.path": [
        "{{ env "KOOPA_PREFIX" }}/bin/black"
    ],
    "black-formatter.interpreter": [
        "{{ env "KOOPA_PREFIX" }}/opt/black/libexec/bin/python3"
    ],
    "editor.autoClosingBrackets": "never",
    "editor.autoClosingComments": "never",
    "editor.autoClosingDelete": "never",
    "editor.autoClosingOvertype": "never",
    "editor.autoClosingQuotes": "never",
    "editor.autoSurround": "never",
    "editor.fontFamily": "JetBrains Mono', monospace",
    "editor.fontSize": 16,
    "editor.pasteAs.enabled": false,
    "git.path": "{{ env "KOOPA_PREFIX" }}/bin/git",
    "python.condaPath": "{{ env "KOOPA_PREFIX" }}/bin/conda",
    "python.defaultInterpreterPath": "{{ env "KOOPA_PREFIX" }}/bin/python3",
    "python.experiments.enabled": false,
    "python.pythonPath": "{{ env "KOOPA_PREFIX" }}/bin/python3",
    "quarto.path": "{{ env "KOOPA_PREFIX" }}/bin/quarto",
    "update.mode": "none",
    "update.showReleaseNotes": false
}
