auto-update = off
{{- if lookPath "bash" }}
command = {{ lookPath "bash" }} -il
{{- end }}
cursor-style-blink = false
font-family = "JetBrains Mono NL"
font-size = 16
theme = "light:Atom One Light,dark:Dracula"
window-height = 30
window-width = 100
