auto-update = off
{{- if lookPath "bash" }}
command = {{ lookPath "bash" }} -il
{{- end }}
confirm-close-surface = false
cursor-style-blink = false
font-family = "JetBrainsMonoNL Nerd Font Mono"
font-size = 16
link-url = false
macos-titlebar-style = tabs
{{- $ghosttyThemesDir := joinPath .chezmoi.homeDir ".config/ghostty/themes" -}}
{{- $dpv := env "KOOPA_DRACULA_PRO_VARIANT" -}}
{{- $darkTheme := "Dracula" -}}
{{- $lightTheme := "Atom One Light" -}}
{{- if stat (joinPath $ghosttyThemesDir "Dracula Pro") -}}
{{-   $darkTheme = "Dracula Pro" -}}
{{-   if and $dpv (ne $dpv "pro") -}}
{{-     $darkTheme = printf "Dracula Pro %s" (title $dpv) -}}
{{-   end -}}
{{-   $lightTheme = "Dracula Pro Alucard" -}}
{{- end }}
theme = "light:{{ $lightTheme }},dark:{{ $darkTheme }}"
{{- if stat (joinPath $ghosttyThemesDir "Dracula Pro") }}
selection-background = #5B5575
{{- end }}
window-height = 30
window-width = 100
