"""IPython default configuration.

Generate default template with 'ipython profile create default'.

Theme configuration details:
https://ipython.readthedocs.io/en/stable/config/details.html

Dracula Pygments style (dracula) ships with Pygments >= 2.15.
Friendly Pygments style ships with all Pygments versions.
"""

# pylint: disable=undefined-variable
c = get_config()  # noqa

{{- if eq (env "KOOPA_COLOR_MODE") "dark" }}
c.TerminalInteractiveShell.highlighting_style = "dracula"
c.TerminalInteractiveShell.colors = "Linux"
{{- else }}
c.TerminalInteractiveShell.highlighting_style = "friendly"
c.TerminalInteractiveShell.colors = "Neutral"
{{- end }}
c.TerminalInteractiveShell.editor = "nvim"
c.TerminalInteractiveShell.true_color = True
