tap "homebrew/bundle"
{{- if eq .chezmoi.os "darwin" }}
cask "1password"
cask "adobe-acrobat-reader"
cask "alacritty"
cask "alfred"
cask "audacity"
cask "basictex"
cask "bbedit"
cask "bibdesk"
cask "brave-browser"
cask "carbon-copy-cloner"
cask "datagrip"
cask "dbeaver-community"
cask "docker"
cask "easyfind"
cask "emacs"
cask "firefox"
cask "font-cascadia-code"
cask "font-cascadia-mono"
cask "font-courier-prime"
cask "font-courier-prime-code"
cask "font-courier-prime-sans"
cask "font-dejavu"
cask "font-dejavu-sans-mono-nerd-font"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-fira-mono"
cask "font-fira-mono-nerd-font"
cask "font-fira-sans"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-ia-writer-duo"
cask "font-ibm-plex-mono"
cask "font-ibm-plex-sans"
cask "font-inconsolata"
cask "font-input"
cask "font-intel-one-mono"
cask "font-inter"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "font-victor-mono"
cask "font-victor-mono-nerd-font"
cask "foobar2000"
cask "gimp"
cask "github"
cask "gpg-suite-no-mail"
cask "hazel"
cask "hiddenbar"
cask "iterm2"
cask "keka"
cask "libreoffice"
cask "little-snitch"
cask "nightfall"
cask "omnidb"
cask "omnidisksweeper"
cask "pacifist"
cask "pgadmin4"
cask "positron"
cask "pycharm-ce"
cask "rectangle"
cask "rstudio"
cask "superduper"
cask "tad"
cask "temurin@21"
cask "transmit"
cask "tunnelblick"
cask "visual-studio-code"
cask "vlc"
cask "xld"
cask "xquartz"
cask "zoom"
{{- end }}
{{- if eq .chezmoi.hostname "nobska" }}
cask "balenaetcher"
cask "calibre"
cask "fujitsu-scansnap-home"
cask "makemkv"
cask "spotify"
cask "swinsian"
{{- else if eq .chezmoi.hostname "windsor" }}
cask "darktable"
cask "deluge"
cask "google-drive"
cask "ibm-aspera-connect"
cask "igv"
cask "logitech-camera-settings"
cask "microsoft-teams"
cask "mkvtoolnix"
cask "musicbrainz-picard"
cask "photosweeper-x"
{{- end }}
