import = ["~/.config/alacritty/colors-dark.toml"]
live_config_reload = true

[bell]
duration = 0

[colors]
draw_bold_text_with_bright_colors = false

[cursor]
style = "Block"
unfocused_hollow = false

[env]
{{- if eq .chezmoi.os "darwin" }}
SHELL = "/bin/zsh"
{{- else }}
SHELL = "{{ env "KOOPA_PREFIX" }}/bin/zsh"
{{- end }}
TERM = "xterm-256color"

[font]
size = 16.0

[font.bold]
family = "JetBrainsMono NF"
style = "SemiBold"

[font.glyph_offset]
x = 0
y = 0

[font.italic]
family = "JetBrainsMono NF"
style = "Italic"

[font.normal]
family = "JetBrainsMono NF"
style = "Regular"

[font.offset]
x = 0
y = 0

[[hints.enabled]]
command = "xdg-open"
post_processing = true
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-<>\"\\s{-}\\^⟨⟩`]+"

[hints.enabled.mouse]
enabled = false
mods = "None"

[mouse]
hide_when_typing = false

[scrolling]
history = 10000
multiplier = 3

[selection]
save_to_clipboard = true
semantic_escape_chars = ",│`|:\"' ()[]{}<>"

[shell]
args = ["--interactive", "--login"]
{{- if eq .chezmoi.os "darwin" }}
program = "/bin/zsh"
{{- else }}
program = "{{ env "KOOPA_PREFIX" }}/bin/zsh"
{{- end }}

# Launch bound to a tmux session. Note that this doesn't currently handle
# dark/light mode switching correctly.
# > [shell]
# > args = ["new"]
# > program = "{{ env "KOOPA_PREFIX" }}/bin/tmux"

[window]
decorations = "full"
dynamic_padding = false
opacity = 1.0
startup_mode = "Windowed"

[window.dimensions]
columns = 100
lines = 30

[window.padding]
x = 0
y = 0
