{{- if lookPath "bash" }}
vim.opt.shell = '{{ lookPath "bash" }}'
{{- end }}

-- Bash
{{- if lookPath "bash-language-server" }}
vim.lsp.enable('bashls')
{{- end }}

-- Python
{{- if lookPath "ruff" }}
vim.lsp.enable('ruff')
{{- end }}

-- R
{{- if lookPath "air" }}
vim.lsp.enable('air')
{{- end }}
